//- div(style='width: 400px background-color: yellow;')
//-   h1 Congrats, You have succesfully logged in!

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Report
    body 
        .tableDiv 
            div #{title}
            table 
                each row in rows 
                    tr 
                        each col in row 
                            td #{col}        
  
