doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    style 
        include ./css/login_page.css
    
  body
    include ./includes/nav
    block content
  script.
    document.getElementById('play-button').addEventListener('click', async () => {
        console.log('document ready');
        try {
            const email = document.getElementById('inputEmail').value;
            const password = document.getElementById('inputPassword').value;

            const res = await fetch('http://127.0.0.1:8000/api/sign-in', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({email, password})
            });

            if (res) window.location.href = "http://localhost:8000/page/login/success"
                
            const data = await res.json();
            console.log('response from API', data);  
        } catch (err) {
            console.log('Error: ',err);
        }
    });
  
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')