extends register_page_root
block content
    block login
    div(class="wrapper-login-form text-center")
        form(class="form-signin" method="POST" action="/api/sign-up")
            #error
                if error
                    p.text-danger Error!!!

            - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
            h1(class=h1Classes) Please sign up

            label( for="inputEmail" class="sr-only") User Name
            input(type="name" name="name" id="inputUserName" class="form-control" placeholder="User name" required autofocus)
          
            label( for="inputEmail" class="sr-only") Email address
            input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)

            label(for="inputPassword" class="sr-only") Password
            input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)

            label(for="inputPassword" class="sr-only") Role
            input(type="name" name="roleId" id="inputRoleId" class="form-control" placeholder="Role" required)

            - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
             button(class=buttonClass type='button' id='play-button') Sign up
