<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        document.querySelector('.form').addEventListener('submit', e => {
        e.preventDefault();
        const email = document.getElementById('inputEmail').value;
        const password = document.getElementById('inputPassword').value;
        login(email, password);
        });

        const login = async (email, password) => {
            try {
            const res = await fetch({
                method: 'POST',
                url: 'http://127.0.0.1:4000/api/sign-in',
                data: {
                email,
                password
                }
            }).then(response => response.json())    // one extra step
              .then(data => { console.log(data)})
               console.log(res);
            } catch (err) {
            console.log(err.response.data);
            }
        }
    </script>
</head>
<body>
    <form class="form-signin" @keyup="login">
        <label for="inputEmail" class="sr-only">Email address</label> 
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only"> Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button type="submit"> Sign in </button>
    </form>
</body>
</html>